/*Sección About*/

section.about{
    display: flex;
    justify-content: center;
    background-color: rgb(36, 113, 163);
    padding: 4% 0;
}
.about__container{
    width: 900px;
    border: 2px solid;
    text-align: initial;
    justify-content: space-around;
    padding: 0 20px 0 20px;
}
